<div class="debugger">
  <div class="container text-center">
    <!-- sitedebug -->


    {% assign categories = site.posts | group_by:"category" %}

    {% for category in site.blog-categories %}

      {% assign current-category = categories | where:"name", category | first %}
      {% assign category-blog = current-category.items %}
      {% assign by_tag =  category-blog | group_by: "tag" %}

      <h2>{{ category }}</h2>

      <!-- BY_TAG:{{ by_tag | debug }} -->
      {% for tag in site.blog-tags %}

        {% assign current-tag = by_tag | where:"name", tag | first %}
        {% if current-tag %}
        {{ current-tag.name }}
        <ul>
          {% for item in current-tag.items %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
    {% endfor %}









  </div><!--//container-->
</div><!--//div-->
