---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    {% assign categories = site.posts | group_by:"category" %}
      {% for category in site.blog-categories %}
        {% assign current-category = categories | where:"name", category | first %}
        {% assign category-blog = current-category.items %}
        {% assign by_tag =  category-blog | group_by: "tag" %}
        <ul class="post-list">
          <h2 class="post-list-heading">{{ category }}</h2>
            {% for tag in site.blog-tags %}
            {% assign current-tag = by_tag | where:"name", tag | first %}
              {% if current-tag and current-tag.name != category %}
                <div class="post-meta">{{ current-tag.name }}</div>
              {% endif %}
              {% if current-tag %}
              {% assign sorted-posts = current-tag.items | sort: "weight" | reverse %}
              {% for post in sorted-posts %}
                <li>
                  <h3>
                    <a class="post-link" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | absolute_url }}{% endif %}">
                      {{ post.title | escape }}
                      {% assign post_in_seconds = post.date | date: "%s" %}
                      {% assign today_in_seconds = site.time | date: "%s" %}
                      {% assign past_in_seconds = today_in_seconds | minus: post_in_seconds %}
                        {% if past_in_seconds < 2678400 %}
                         <sup class="post-new">new</sup>
                        {% endif %}
                    </a>
                  </h3>
                </li>
              {% endfor %}
              {% endif %}
            {% endfor %}
        </ul>
      {% endfor %}
  {% endif %}
</div>
